@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-pref: 214, 219, 220;
  --foreground-pref: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-pref: #121212;
    --foreground-pref: #e7e5e4; /*Same as stone-200*/
  }
}

body {
  color: var(--foreground-pref);
  background: var(--background-pref);
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
